{{define "title"}}{{end}}
{{define "head"}}
<link rel="stylesheet" href="/static/css/ansi.css">
{{if .Cmd.Running}}
<script type="text/javascript">
    var conn;
    window.onload = function () {
        var msg = document.getElementById("msg");
        var log = document.getElementById("log");
        function appendLog(item) {
            var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
            log.appendChild(item);
            if (doScroll) {
                log.scrollTop = log.scrollHeight - log.clientHeight;
            }
        }
        if (window["WebSocket"]) {
            var cmdID = '{{.Cmd.ID}}';
            conn = new WebSocket("ws://" + document.location.host + "/cmd/ws/" + cmdID);
            conn.onclose = function (evt) {
                var item = document.createElement("div");
                item.innerHTML = "<b>Connection closed.</b>";
                appendLog(item);
            };
            conn.onmessage = function (evt) {
                console.log(evt);
                var messages = evt.data.split('\n');
                for (var i = 0; i < messages.length; i++) {
                    log.innerHTML = log.innerHTML + messages[i] + "\n";

                    continue;
                    // old stuff for json message
                    var data = JSON.parse(messages[i]);
                    switch (data.type) {
                        case "message":
                            // var item = document.createElement("pre");
                            // item.innerHTML = data.data;
                            // appendLog(item);
                            log.innerHTML = log.innerHTML + data.data;
                            break;
                         case "error":
                            var item = document.createElement("pre");
                            item.className = "error"
                            item.innerHTML = data.data;
                            appendLog(item);
                            break;
                        case "redirect":
                            window.location.href = data.data;
                            break;
                        default:
                            break;
                    }
                }
            };
        } else {
            var item = document.createElement("div");
            item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
            appendLog(item);
        }
    };
    function kill(){
        if (!conn) {
            return;
        }
        conn.send("kill");
    }
</script>
{{end}}
<style type="text/css">
    html {
        overflow: hidden;
    }

    body {
        overflow: hidden;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background: gray;
    }

    #log {
        background: #2f2f2f;
        color: white;
        margin: 0;
        padding: 0.5em 0.5em 0.5em 0.5em;
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        margin-top: 50px;
    }

    #log > .error {
        color: red;
    }

    #form {
        padding: 0 0.5em 0 0.5em;
        margin: 0;
        position: absolute;
        bottom: 1em;
        left: 0px;
        width: 100%;
        overflow: hidden;
    }
</style>
{{end}}

{{define "body"}}
{{template "nav" .}}
{{if .Cmd.Running}}
<div style="padding: 4px;">
    <button class="pure-button" onclick="kill()"><i class="fas fa-skull-crossbones"></i> KILL</button>
</div>
{{end}}
<pre id="log">{{.FileData}}</pre>
{{end}}

{{define "nav"}}
<style>
    nav {
        padding: 5px;
        border-bottom: 1px solid grey;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: stretch;
    }

    nav .bread {
        margin-top: 6px;
    }

    nav .bread * {
        margin: 4px;
        color: lightgrey;
    }

    nav .bread a {
        font-weight: bold;
        text-decoration: none;
        color: white;
    }

    nav .title {
        margin: 6px;
        color: white;
        font-weight: bolder;
    }

    nav .spacer {
        width: 100%;
    }
</style>
<nav>
    <div class="bread"><a href="/"><i class="fa fa-home"></i></a></div>
    <span class="spacer">&nbsp;</span>
    <span class="title">{{.Title}}</span>
    <span class="spacer">&nbsp;</span>
    <a href="/logout" class="pure-button"><i class="fa fa-sign-out-alt"></i></a>
</nav>
{{end}}
